.DS_Store

## Xcode user settings
xcuserdata/

## Build products
build/
DerivedData/
*.hmap

## Test results
*.xcresult

## App packaging
*.ipa
*.dSYM
*.dSYM.zip

## Swift Package Manager
.build/
.swiftpm/

## fastlane
#
# Screenshots are regenerated rather than committed:
# https://docs.fastlane.tools/best-practices/source-control/#source-control
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
